
img {
    border-radius: 50%;
    height: 150px;
    width: 200px;
    margin: 25px;
}

.getInTouch {
    border-radius: 0%;
    height: 380px;
    width: 55%;
}

.contact_Container{
    justify-content: center;
    display: flex;
    
    
}

label {
    margin-right: 5%;
}